html {
    height: 100%;
}
* {
    box-sizing: border-box;
}
body {
    height: 100%;
    background-color: #eee;
}

.container {
    max-width: 800px;
    min-width: 500px;
    background-color: #fff;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}
header, footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
}
header {
    border-bottom: 1px solid #999;
}

.login-btn {
    float: right;
    margin: 10px 60px;
}
.container > .main {
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.container > .right {
    width: 300px;
    height: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border-left:1px solid #ccc;
    box-shadow: -15px 0 #333;
}

footer {
    margin-top: auto;
    border-top: 1px solid #999;
    bottom: 0;
    left: 0;
    margin-left: 0;
    position: fixed;
    z-index: 1000;

}
/*------------pop-up------------------*/
.modal-content {
    background-color: #f8f7f4;
    border-radius: 10px;
    color: #323232;
    display: none;
    height: auto;
    left: 23%;
    padding: 20px;
    position: fixed;
    top: 47%;
    width: 50%;
    z-index: 100;
}
.modal-content-show {
    display: block;
}

.modal-content-close {
    background-color: #f8f7f4;
    width: 19px;
    height: 19px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 14px;
}
.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 2px;
    background-color: #131313;
    top: 8px;
    left: 0;
}
.modal-content-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.modal-content-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*-------------overlay---------------*/
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background:  #fc0;
    opacity: 0.1;
}
.modal-overlay-show {
    display: block;
}
/*----------------------media---------------*/
@media screen and (max-width:800px) {
    .container {
        width: 100%;
    }
}
@media screen and (min-width: 701px) {
    .right{
        display: block;
        -webkit-animation-name:  appearance;
                animation-name:  appearance;
        -webkit-animation-duration: 250ms;
                animation-duration: 250ms;
    }
}
@media screen and (max-width: 700px) {
    .right{
        display: none;
        -webkit-animation-name:  dispearance;
                animation-name:  dispearance;
        -webkit-animation-duration: 250ms;
                animation-duration: 250ms;
    }
}

@media screen and (max-width:500px) {
    .container {
        width: 500px;
        height: 100%;
    }
}
@-webkit-keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes dispearance {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes dispearance {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
